.experience {
  background-color: black;
  color: turquoise;
  text-align: center;
  border: solid black;
  border-width: thin;
  border-radius: 5%;
}
.work {
  border: solid black;
  border-width: 0 5px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  border-radius: 5%;
  margin-top: 5%;
  background-color: gray;
  color: lightblue;
}
